//COLORs
$color-primary:linear-gradient(270deg, #FFFAF5 -71.67%, rgba(255, 250, 245, 0) 184.43%);


$color-primary-light: #3772FF;
$color-primary-light-sub:#3772FF14;
;

$color-primary-dark-main: #ff7d0b;
$color-primary-dark-sub: #FEB373;


$color-grey-light-1:rgba(128, 128, 128, 0.12);

$color-secondary-light: #0A142F;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#FBFCFF;
$color-tertiary-dark:#001A72;
$color-tertiary-dark-1:#010924;

$color-primary-text: #fff;
$color-primary-text-b:#606164;
;

$color-grey-light: #eee;
$color-grey-light: #f7f7f7;


$color-grey-dark: rgb(119, 119, 119);
$color-grey-dark-2: rgb(196, 190, 190);
$color-grey-dark-3: #333;
$color-grey-dark-4: #979797;



$color-black: #000;
//FONT
$default-font-size:1.6rem;

//GRID SIZE
$grid-width:114rem;
$grid-width-small:50rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;