.last__section {
    height: 75vh;
    background-image: url(/images/Rectangle3.png);
    margin-bottom: 0rem;
    margin-top: 10rem;
    display: flex;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;


    &--text {
        position: absolute;
        margin-left: 19.5rem;
        margin-top: 2rem;


        @include respond(tab-port) {
            margin-left: 1rem;
            margin-top: 5rem;
        }

        & h1 {
            font-size: 6rem;
            color: $color-primary-text;

            @include respond(tab-port) {
                font-size: 3rem;


            }
        }

        & a {
            padding: 15px 40px;
            text-decoration: none;
            color: $color-black;
            background-color: $color-primary-text;
            font-weight: 400;
            text-transform: uppercase;
            border-radius: 50px;

            @include respond(tab-port) {
                font-size: 1rem;
                padding: 10px 30px;


            }
        }
    }

    &--2-icon {
        position: absolute;
        left: 75%;
        margin-top: 30rem;
        padding: 20px 20px;

        @include respond (tab-port) {
            left: 70%;
        }

        @include respond(phone) {
            padding: 10px 10px;
            left: 10%;
            margin-top: 30rem;


        }



        &-a {
            position: relative;
            display: inline-block;
            text-align: center;
            border-radius: 50px;
            border: 1px solid $color-primary-text;
            padding: 1rem 1.5rem;
            margin-bottom: 4rem;
            margin-left: .5rem;
            cursor: pointer;



        }

        &-b {
            position: relative;
            display: inline-block;
            text-align: center;
            border-radius: 50px;
            border: 1px solid $color-primary-text;
            padding: 1rem 1rem;
            margin-bottom: 4rem;
            margin-left: .5rem;
            cursor: pointer;
        }
    }

    &--img1 {
        position: absolute;
        margin-top: 30rem;
        padding: 10px 30px;
        margin-left: 18rem;

        @include respond(tab-port) {
            margin-left: -2rem;

        }

        @include respond(phone) {
            padding: 5px 15px;
            margin-left: -1rem;
            margin-top: 20rem;
        }

        &-a {
            display: inline;
            margin-right: 1rem;
        }
    }
}

.shape__out1 {

    height: 30rem;
    width: 30rem;
    background-color: $color-grey-dark-2;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-left: 92rem;
    margin-top: -13rem;

    text-align: center;


    @include respond (tab-port) {
        display: none;
    }




    &--2 {
        position: relative;
        height: 27rem;
        width: 27rem;
        background-color: $color-grey-dark;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        margin-top: 1.5rem;
        margin-left: 1.3rem;
        position: relative;
        justify-content: center;
        z-index: 10;


    }

    &--3 {
        position: relative;
        height: 23rem;
        width: 23rem;
        background-color: transparent;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        z-index: 10;

        & img {
            height: 100%;
        }

    }

}